<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>YaStart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="container-fluid my-5">
    <div class="row align-items-start">
        {% set otras = ['style/idea1.jpg', 'style/teamdream.jpg', 'style/invest2.jpg'] %}
        {% for ph in otras %}
        <div class="col-4" align="center">
            <nav class="inline">
                <a href="/first"> <img src="{{ url_for('static', filename=ph) }}" class="rounded-5"/></a>
            </nav>
        </div>
        {% endfor %}
    </div>
</div>

{% set links = ['/IT', '/med', '/construction', '/pravo', '/transport', '/science'] %}
<div class="container-fluid my-5">
    <div class="row align-items-start">
        {% for photo in otrasls %}
        <div class="col-2" align="center">
            <a href="{{links[loop.index - 1]}}"> <img src="{{ url_for('static', filename=photo) }}"
                              style="width: 13rem; background: #D9D9D9; border-radius: 15px;"/></a>
        </div>
        {% endfor %}
    </div>
</div>


<div class="container-fluid my-5">
    <div class="title" style="display: flex; justify-content: center; margin: 5rem;">
        <h1>Популярное</h1>
    </div>
    <div class="container-fluid">
        {% for user in info %}
        <div class="container-fluid border-1 my-4" style="padding: 0 7rem;">
            <div class="row align-items-start" id="cont">
                <a href="/startupp" style="text-decoration: none; color: #000000;" id="{{info[loop.index0][5]}}">
                    <div class="col-6">
                        <img src="{{ url_for('static', filename='style/fon.jpg') }}" style="width: 28rem; float: left;"/>
                        <ul style="list-style-type: none;">
                            <li>Название: {{info[loop.index0][0]}}</li>
                            <li>Бюджет: {{info[loop.index0][1]}}</li>
                            <li>Краткая информация: {{info[loop.index0][3]}}</li>
                            <li>Сфера: {{info[loop.index0][2]}}</li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<footer>
    <div class="footer">
        <div class="logo">
            <h1 style="float: left;">YaStart</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">О проекте</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Пользовательское соглашение</a></li>
                <li><a href="#">Политика обработки персональных данных</a></li>
            </ul>
        </div>
        <div class="up">
            <a href="/main" style="float: right;">Наверх</a>
        </div>
    </div>
</footer>
{% endblock %}

</body>
</html>