<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="style" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    <link href="bootstrap.bundle.min.js" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Новый стартап</title>
</head>
<body class="w-1154px">
{% extends "base.html" %}

{% block content %}

<div class="container my-5 d-flex align-items-center justify-content-center p-0">
    <div class="box my-5 bg-light rounded p-5 text-center">
        <h1>Новый стартап</h1>
        <form action="/new_startt" method="post">
            <div class="form-group my-5">
                <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Введите название" name="title">
            </div>
            <div class="form-group my-5">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Введите статус: собрана команда, есть идея, инвестируется"
                       name="status">
            </div>
            <div class="form-group my-5">
                <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp"
                       placeholder="Введите бюджет" name="budget">
            </div>
            <div class="form-group my-5">
                <input type="text" class="form-control" id="sph1"
                       placeholder="Номер сферы: 1 - IT, 2 - медицина, 3 - строительство, 4 - право, 5 - транспорт, 6 - наука" name="sph">
            </div>
            <div class="form-group my-5">
                <input type="text" class="form-control" id="exampleInputPassword2"
                       placeholder="Введите краткую информацию" name="sh_info">
            </div>
            <div class="form-group my-5">
                <input type="text" class="form-control" id="exampleInputPassword3"
                       placeholder="Введите более подробную информацию" name="big_info">
            </div>
            <input type="submit" class="btn text-center" style="color: #ffffff; background: #770000" placeholder="Сохранить изменения">
        </form>
    </div>
</div>
<footer style="position: absolute; left: 0; bottom: 0; width: 100%; color: #ffffff;">
    <div class="footer">
        <div class="logo">
            <h1 style="float: left;">YaStart</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/about_project">О проекте</a></li>
                <li><a href="#">Пользовательское соглашение</a></li>
                <li><a href="#">Политика обработки персональных данных</a></li>
            </ul>
        </div>
        <div class="up">
            <a href="/main" style="color: #ffffff;">Наверх</a>
        </div>
        <div class="lis" style="margin-right: 0;">© 2024 YaStart</div>
    </div>
</footer>
{% endblock %}
</body>
</html>