<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="style" type="text/css" href="{{ url_for('static', filename='style/logstyle.css') }}">
    <title>Регистрация</title>
</head>
<body class="w-1154px">
{% extends "base.html" %}

{% block content %}

<div class="container my-5 d-flex align-items-center justify-content-center p-0">
    <div class="box my-5 bg-light rounded p-5 text-center">
        <h1>Регистрация</h1>
        <form action="/hello" method="post">
            <div class="form-group my-5">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Введите логин" name="log">
            </div>
            <div class="form-group my-5">
                <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp"
                       placeholder="Введите email" name="email">
            </div>
            <div class="form-group my-5">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите пароль" name="pass1">
            </div>
            <div class="form-group my-5">
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Повторите пароль" name="pass2">
            </div>
            <input type="submit" class="btn text-center" style="color: #ffffff; background: #770000" placeholder="Зарегистрироваться">
        </form>
    </div>
</div>
<footer style="position: absolute; left: 0; bottom: 0; width: 100%;">
    <div class="footer">
        <div class="logo">
            <h1 style="float: left;">YaStart</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">О проекте</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Пользовательское соглашение</a></li>
                <li><a href="#">Политика обработки персональных данных</a></li>
            </ul>
        </div>
        <div class="up">
            <a href="/main">Наверх</a>
        </div>
        <div class="lis">© 2024 YaStart</div>
    </div>
</footer>
{% endblock %}
</body>
</html>